
@import 'base/reset';

@import 'components/footer';


/*estilos de los bodys*/
.body-index {
    background-color: #ffffff;
}


/*header*/
header {
    position: fixed;
    background-color: #ffffff40;
}
.navbar {
    background-color: transparent;
    color: #072365;
    padding-right: 20px;
}

.navbar-toggler {
    color: #072365;
}

/*Banner 1*/

.container-1 {
    display: grid;
    grid-template-columns: 550px 225px;
    grid-template-rows: auto auto;
    background-color: #031539;
    color: #ffffff;
    height: 600px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0;

}

.grid-photo1 {
    grid-column: 2/3;
    grid-row: 1/3;
    align-content: center;
}

.title-1, .photo-1, .paragraph-1 {
    margin: 0;
    font-size: 100px;
    animation-duration: 10s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.somos {
    font-weight: lighter;
}

.paragraph-1 {
    margin: 0;
    font-size: 40px;
}

.photo-1 {
    border-radius: 50%;
}


