
@import 'base/reset';
@import 'components/variables';

@import 'components/home';
@import 'components/conectate';
@import 'components/predicas';
@import 'components/libreria';
@import 'components/footer';


/*estilos de los bodys*/
.body-index {
    background-color: $white;
}

/*header*/
header {
    position: fixed;
    background-color: #03153920;
    z-index: 1;
}
.navbar {
    background-color: transparent;
    color: $blue-2;
    padding-right: 20px;
}

.navbar-toggler {
    color: #072365;
}




