
.container-construction {
    display: grid;
    height: 600px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0;
}

.construction {
    font-size: 30px;
}